{% extends 'dashboard/index.html' %}

{% block title %}Analytics{% endblock title %}

/*Header*/
{% block pageTitle %}analytics{% endblock pageTitle %}

/*Sidebar*/
{% block navDashboard %}{% endblock navDashboard %}
{% block navAnalytics %} class="active" {% endblock navAnalytics %}

/*Content*/
{% block content %}
    {% block holdings %}{% endblock holdings %}
    {% block charts %}{% endblock charts %}
{% endblock content %}

/*Toaster*/
{% block toaster %}<!-- <div id="toaster"></div> -->{% endblock toaster %}