{% extends 'dashboard/index.html' %}

{% block title %}Assets{% endblock title %}

/*Header*/
{% block pageTitle %}assets{% endblock pageTitle %}

/*Sidebar*/
{% block navDashboard %}{% endblock navDashboard %}
{% block navAssets %} class="active" {% endblock navAssets %}

/*Content*/
{% block content %}
    {% block holdings %}{% endblock holdings %}
    {% block charts %}{% endblock charts %}
    {% block transactions %}{% endblock transactions %}
{% endblock content %}

/*Toaster*/
{% block toaster %}<!-- <div id="toaster"></div> -->{% endblock toaster %}